@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap&subset=arabic');

body {
    font-family: 'Cairo', sans-serif !important;
    width: 100%;
    height: 100%;
    font-weight: bold !important;
}

* {
    font-weight: bold !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
    font-size: 12px;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open > .m-menu__link .m-menu__link-text {
    font-size: 13px;
}

.pagination li a .la-angle-right:before {
    content: "\f111";
}

.pagination li a .la-angle-left:before {
    content: "\f112";
}

.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text,
.form-control,
.btn {
    font-family: 'Cairo', sans-serif !important;
}

.m-login__container .form-control {
    border: 1px solid #9816f440 !important;
}

.m-login__container .invalid-feedback {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 15px;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container {
    width: 500px;
    margin: 0 auto;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
    padding: 0 15px !important;
    padding-right: 15px;
}

.has-danger .form-control-feedback {
    font-size: 13px;
}

.m-aside-menu .m-menu__nav .m-menu__item.m-menu__item--open>.m-menu__heading>.m-menu__ver-arrow:before, .m-aside-menu .m-menu__nav .m-menu__item.m-menu__item--open>.m-menu__link>.m-menu__ver-arrow:before {
    transform: rotateZ(90deg);
}
.active-top-bar{
    background: #e0deff;
}
.m-checkbox>span:after {
    transform: rotate(45deg);
}